# Assignment : Data Structure

##Q1. Discuss string slicing & provide examples.

##Ans. String Slicing is a technique in python that allows you to extraact a portion of a string based on specified indices. This feature is used for manupulationg & analyzing string.

##Examples: Let's Consider the string x= "kishore rawat" for you example.

###1. Basic slicing:

In [ ]:
x = "kishore rawat"
print(x[0:7])

#Here x[0:7] extract the substring from index 0 up tobut not including, index 7.

kishore

###2. Omitting Indices:

In [ ]:
print(x[:7])
print(x[8:])

#here x[:7] extract from start to index 7.
#here x[8:] extract from index 8 to the end of the string.

kishore
rawat

###3. Using Step:

In [ ]:
print(x[::2])

#here x[::2] extract every second character from the string.

ksoerwt

###4. Negative Indices:

In [ ]:
print(x[-5:-1])

#here x[-5:-1] extract the substring from index -5 up to but not including, index -1.

rawa

###5. Reversing a String:

In [ ]:
print(x[::-1])

#here x[::-1] reverse the string.

tawar erohsik

###6. Extracting a Substring with step:

In [ ]:
print(x[1:7:2])

#here x[1:7:2] extract every second character from the substring from index 1 up to but not including, index 7.

ihr

----------------------------------------------------------------------------------------------

##Q.2 Explain the key Features of Lists in Python.

##Ans. Lists in Python are one of the most versatile & commonly used data structures. Here are some key Features of lists in Python:

##1. Ordered Collections: Lists maintained the order of elements as they are added. It's means that elements can be accessed by their index & the order in which elements are added is preserved.

##Example:

In [ ]:
list = [1, 2, 3, 4, 5]
print(list[3])

4

##2. Mutable: Lists are mutable it's means you can change their content after creation. You can modify, add or remove elements from a list.

##Example:

In [ ]:
list = [1, 2, 3, 4, 5]
list[2] = 10
print(list)

[1, 2, 10, 4, 5]

##3. Dynamic Sizing: Lists can grow or shrink in size as needed. You can append or remove elements dynamically.


##Example:

In [ ]:
list = [1, 2, 3, 4, 5]
list.append(6)
print(list)
list.pop()
print(list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

##4. heterogeneous Element: Lists can contain elements of diffrent data types for Example a list have Integers, strings, flot & other lists as elements.

##Example:

In [ ]:
list = [1, "kishore", 3.14, [4, 5, 6]]
print(list)

[1, 'kishore', 3.14, [4, 5, 6]]

##5. Indexed & Sliced: Lists support indexing & slicing allowing you to access & manupulate specific elements or sublistists.

##Example:

In [ ]:
list = [1, 2, 3, 4, 5]
print(list[1:4])
print(list[:4])

[2, 3, 4]
[1, 2, 3, 4]

##6. List Comprehensions: Lists can be created & manupulated using list comprehensions, which offer a consise way to generate lists.

##Example:

In [ ]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

##7. Nested Lists: Lists can contain other lists as elements allowing for the creation of multi-dimensional arrays or metrices.

##Example:

In [ ]:
metrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(metrix[1][2])

6

--------------------------------------------------------------------------------------------

##Q.3 Describe how to access, modify & delete elements in a list with examples.

##Ans. Accessing, modifying & Deleting elements in a list are fundamental operations in python. Here are Examples How we can perform these actions with examples:

##1. Accessing Elements: We can access individual elements or slices of a list using indexing & slicing.

##A. Positive Indexing: Indexes starts from "0" for the first elements & increased by "1" for each next elements.

##B. Negative Indexing: Indexes Start from "-1" for the last element & decrease by "1" for each preceding elements.

##Example:

In [ ]:
list = [1, 2, 3, 4, 5]
print(list[0])
print(list[-1])

1
5

##C. Slicing: Slicing allows you to access a subset of the list by specifying a start index, stop index & optional step.

##Example:

In [ ]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[1:4])
print(my_list[:4])

['banana', 'cherry', 'date']
['apple', 'banana', 'cherry', 'date']

##2. Modifying Elements: We can modify elements in a list by accessing them through their index & assigning new values.

#Example:

In [ ]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
my_list[2] = "kiwi"
print(my_list)

['apple', 'banana', 'kiwi', 'date', 'elderberry']

##3. Deleting Elements: We can delete elements from a list using "del" statement the "remove() method or "pop() method.

##Examples:

In [ ]:
#using "del"
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
del my_list[2]
print(my_list)

['apple', 'banana', 'date', 'elderberry']

In [ ]:
#using "remove"
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
my_list.remove("cherry")
print(my_list)

['apple', 'banana', 'date', 'elderberry']

In [ ]:
#using "pop"
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
my_list.pop()
print(my_list)

['apple', 'banana', 'cherry', 'date']

--------------------------------------------------------------------------------------------

##Q.4 Compress & Contrast tuples & lists with Example.

##Ans. Here's Comparision of tuples & Lists in Python including example to illustrate their differences & Similarities:

##Comparision of Tuples & Lists

##Feature         >>       Tuples                  >>     Lists
###1.Mutability   >>      Immutable                >>    Mutable
###2.Syntax       >>        "()"                   >>     "[]"
###3.Performance  >>   Faster & use less memory    >> slower & use more memory
###4.Methods      >>  Limited: count(), index()    >> Extensive: append(), remove(), pop(), extend(), sort()
###5.Use Cases    >> Fixed collection              >> Dynamic collection.
###6.Nesting      >> can contains tuples or lists  >> can contains other lists or tuples.

##Examples:
##1. Mutability:

In [ ]:
#Tuples:
my_tuple = (1, 2, 3)
my_tuple[0] = 10  # This will raise a TypeError because tuples are immutable.

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Lists:
my_list = [1, 2, 3]
my_list[0] = 10  # This is valid because lists are mutable.
print(my_list)

[10, 2, 3]

##2. Syntax:

In [ ]:
#tuple:
my_tuple = (1, 2, 3)

In [ ]:
#list:
my_list = [1, 2, 3]

##3. Methods:

In [ ]:
#tuples:
my_tuple = (1, 5, 3, 6)
print(my_tuple.count(2))
print(my_tuple.index(3))

0
2

In [ ]:
#list:
my_list = [1, 2, 5, 2]
my_list.append(4)
my_list.remove(2)
my_list.pop()

4

##4. Use Cases:

In [ ]:
#tuple: Fixed data structure
my_point = (3, 4)

In [ ]:
#list: Dynamic data structure:
shopping_list = ["apple", "mango", "cherry"]
shopping_list.append("grape")
print(shopping_list)

['apple', 'mango', 'cherry', 'grape']

##5. Nesting:

In [ ]:
#Nested tuple:
nested_tuple = ((1, 2), (3, 4))

#Nested list:
nested_list = [[1, 2], [3, 4]]

-------------------------------------------------------------------------------------------

##Q.5 Describe the key feature of sets & provide examples of their use.

##Ans. In Python programming a set is a built-in data structure with the Given below key Features:

##1. Uniqueness:

##* Key Feature: A set automatically remove duplicate values, ensuring all elements are unique.

##Example:

In [ ]:
numbers = {1, 2, 2, 3, 4, 4, 5}
print(numbers) #The Duplicate "2" & "4" Automatically removed.

{1, 2, 3, 4, 5}

##2. Unoedered Collection:

##* Key Feature: Sets are unordered, meaning there is no guranteed order for elements.

##Example:

In [ ]:
fruits = {"apple", "banana", "cherry"}
print(fruits) # the elements are stored in no particular order & cannot be accessed by an index.

{'banana', 'cherry', 'apple'}

##3. Immutable Elements:

##* Key Feature: all elements in a set must be of an immutable type such as numbers, strings or tuples.

##Example:

In [ ]:
valid_set = {(1, 2), "apple", 3.14}
invalid_set = {[1, 2], "banana", 3.14}  # This will raise a TypeError because lists are mutable.

# Lists are mutable & cannot be include in a set, whereas tuples, which are immutable are allowed.

TypeError: unhashable type: 'list'

##4. Set Operation:

##* Key Feature: Python sets supports operations like union, intersection, difference & symmetric diffrence.

##Examples:

In [ ]:
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

#Union:
print(set_a.union(set_b))

#Intersection:
print(set_a.intersection(set_b))

#Difference:
print(set_a.difference(set_b))

#Symmetric Difference
print(set_a.symmetric_difference(set_b))

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

##Examples of use in python Programming:

##1. Removing Duplicates From a list:

##Example:

In [ ]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))
print(unique_list)

[1, 2, 3, 4, 5]

##2. Membership Testing:

##Example:

In [ ]:
vegetables = {"tomato", "potato", "onion"}
print("tomato" in vegetables)
print("carrot" in vegetables)

True
False

##3. Finding Common Elements:

##Example:

In [ ]:
list_a = [1, 2, 3, 4, 5]
list_b = [4, 5, 6, 7, 8]
common = set(list_a) & set(list_b)
print(common)

{4, 5}

##4. Set Difference to identify Unique Items:

##Example:

In [ ]:
list_a = [1, 2, 3, 4, 5]
list_b = [4, 5, 6, 7, 8]
unique_a = set(list_a) - set(list_b)
unique_b = set(list_b) - set(list_a)
print(unique_a)
print(unique_b)

{1, 2, 3}
{8, 6, 7}

-----------------------------------------------------------------------------------------

##Q.6 Discuss the use cases of tuples & sets in Python Programming.

##Ans. A tuples is an ordered, Immutable collection of elements. Tuples are used when you need store a collection of items that should not be changed in the program. Here is some use cases of tuples:

##1. Immutable Grouping of Related Data:

##*Use case: Tuple are ideal for grouping related data that should not change, such as coordinates, RGB values or database records.

##Example:

In [ ]:
tuple = (10, 20, 30)
tuple(0) = 5 # This will raise an error because tuples are immutable.

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (<ipython-input-1-44ee75fd197e>, line 2)

##2. Returning Multiple Values from Functions:

##Use case: Function can return multiple values in a tuple, which can then be unpacked by the caller.

##Example:

In [1]:
def get_coordinates():
    x = 10
    y = 20
    return (x, y)

coordinates = get_coordinates()
print(coordinates)

(10, 20)

##3. Using Tuples as Dictionary Keys

##Use case: tuple are immutable, they can be used as a keys in dictionaries where the key needs to be a compound value.

##Example:

In [2]:
coordinates = {
    (0, 0): "Origin",
    (1, 2): "Point 1",
    (3, 4): "Point 2"
}
print(coordinates[(1, 2)])

Point 1

##4. Storing Hetrogeneous Data:

##Use case: Tuples can store diffrent types of data within the same collection, making them useful for passing around related but different types of data.

##Example:

In [3]:
man = ("kishore", 25, "male")
print(man)

('kishore', 25, 'male')

##5. Function Argument Unpacking:

##Use case: Tuples are often used to unpack multiple arguments when calling functions.

##Example:

In [4]:
def add(a, b):
    return a + b

values = (3, 4)
result = add(*values)
print(result)

7

##Use Case of Sets in Python:
##A set is an unordred collection of unique elements. Sets are typically used when you need to eliminate duplicates or perform mathmatical set operations. Here are some Key ue cases:

##1. Removing Duplicates from a collection:

In [5]:
items = [1, 2, 2, 3, 4, 4, 5]
unique_items = set(items)
print(unique_items)

{1, 2, 3, 4, 5}

##2. Membership Testing:

In [6]:
vegetables = {"tomato", "potato", "onion"}
print("tomato" in vegetables)
print("carrot" in vegetables)

True
False

##3. Mathmatical Set operations:

In [7]:
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

#Union:
print(set_a.union(set_b))

#Intersection:
print(set_a.intersection(set_b))

#Difference:
print(set_a.difference(set_b))

#Symmetric Difference

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

##4. Filtering Unique Items Acros Multiple Collection:

In [8]:
list_a = [1, 2, 3, 4, 5]
list_b = [4, 5, 6, 7, 8]
unique_a = set(list_a) - set(list_b)
print(unique_a)

{1, 2, 3}

##5. Efficient Data Comparision:

In [9]:
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}
common = set_a & set_b
print(common)

{4, 5}

##6. Tracking Unique Items:

In [13]:
user_id = set()
user_id.add(123)
user_id.add(456)
user_id.add(789)
print(user_id)

{456, 123, 789}

----------------------------------------------------------------------------------------

##Q.7 Describe how to add, modify & delete items in a dictionary with Examples.

##Ans. In Python Dictionaries are mutable, meaning you can add, modify & delete items. A Dictionary consists of key-value pairs, where each key is unique. Here's how you can perform these operations:

##1. Adding Items to a Dictionary:
##We can add a new key-value pair to a dictionary by simply assigning a value to a new key.

#Example:

In [15]:
#creating a Dictionary:
my_dict = {}

#Adding Items:
my_dict["name"] = "kishore"
my_dict["age"] = 25
print(my_dict)

{'name': 'kishore', 'age': 25}

##2. Modifying Items in a Dictionary:

##You can modify the value associated with an existing key by reassigning it.

##Example:

In [16]:
#existing Dictionary
person = {"name": "kishore", "age": 25}

#Modifying Items:
person["age"] = 26
print(person)

{'name': 'kishore', 'age': 26}

##3. Deleting Items from a Dictionary:
##We can delete a key-value pair from a dictionary using several methods:

##A. "del" Statement:

##Example:

In [17]:
#Existing Dictionary:
person = {"name": "kishore", "age": 25}

#Deleting Items:
del person["age"]
print(person)

{'name': 'kishore'}

##B. "pop" Statement:

##Example:

In [18]:
#Existing Dictionary:
person = {"name": "kishore", "age": 25}

#Deleting Items:
person.pop("age")
print(person)

{'name': 'kishore'}

##C. "clear() Method:

##Example:

In [19]:
#Existing Dictionary:
person = {"name": "kishore", "age": 25}

#Deleting Items:
person.clear()
print(person)

{}

------------------------------------------------------------------------------------------

##Q.8 Discuss the importance of dictionary keys being immutable & Provide Examples.

##Ans: In Python, dictionary keys must be immutable. This immutability is crucial for ensuring the integrity and performance of dictionaries. Here why this requirement is important, along with examples:

##Importance of Dictionary Keys Being Immutable

##1. Consistency in Hashing
## Dictionaries in Python are implemented as hash tables, where each key is hashed to a specific location in memory. Immutable objects, like strings, numbers, and tuples (containing only immutable elements), have a fixed hash value. If dictionary keys were mutable, their hash values could change after they were added to the dictionary, leading to unpredictable behavior, as the key would no longer map to the correct location in the hash table.

##Example:

In [20]:
#valid key (immutable)
my_dict = {}
my_dict[10] = "ten"
my_dict["hello"] = "greeting"
print(my_dict)

{10: 'ten', 'hello': 'greeting'}

##2. Dictionary Integrity:
##If keys were mutable, modifying a key after it has been added could disrupt the dictionary's structure. This could lead to situations where a key-value pair becomes inaccessible or causes unexpected errors.

##Example

In [21]:
my_dict = {}
my_dict[[1, 2, 3]] = "list"  # This will raise a TypeError because lists are mutable.

TypeError: unhashable type: 'list'

##Examples of Immutable and Mutable Types as Dictionary Keys:

##Valid(Immutable) Keys:
##String:

In [23]:
my_dict = {"name": "kishore", "age": 25}
print(my_dict)

{'name': 'kishore', 'age': 25}

##Numbers:

In [24]:
my_dict = {10: "ten", 20: "twenty"}
print(my_dict)

{10: 'ten', 20: 'twenty'}

##Tuples:

In [25]:
my_dict = {(1, 2), "set"}
print(my_dict)

{(1, 2), 'set'}

##Invalid (Mutable) Keys:
##List:

In [26]:
#This will raise a TypeError:
my_dict = {[1, 2], "list"}

TypeError: unhashable type: 'list'

##Dictionaries:

In [27]:
#This will raise a TypeError:
key_dict = {{1, 2}: "set"}
my_dict = {"dict": key_dict}

TypeError: unhashable type: 'set'

##Mutable Tuples:

In [28]:
#This will raise a TypeError
my_dict = {(1, [2, 3]): "tuple"}

TypeError: unhashable type: 'list'

##* If a Tuple contains a mutable elements, it becomes ineligible as a dictionary key.

##The requirement for dictionary keys to be immutable in Python ensures that their hash values remain constant, which is essential for the reliable and efficient operation of the dictionary. This immutability guarantees that keys can be looked up quickly and that the dictionary remains consistent even as it evolves during program execution.